In [12]:
import pandas as pd

In [13]:
url = "data/nhanes_2015_2016.csv"
da = pd.read_csv(url)

In [14]:
da["BMXWT"].mean

<bound method Series.mean of 0        94.8
1        90.4
2        83.4
3       109.8
4        55.2
        ...
5730     59.1
5731    112.1
5732     71.7
5733     78.2
5734     58.3
Name: BMXWT, Length: 5735, dtype: float64>

In [16]:
da['DMDEDUC2'].unique() #Categorical level

array([ 5.,  3.,  4.,  2., nan,  1.,  9.])

In [18]:
da['RIAGENDR'] #instead of working on it we will save it in a variable and then work on it

0       1
1       1
2       1
3       2
4       2
       ..
5730    2
5731    1
5732    2
5733    1
5734    2
Name: RIAGENDR, Length: 5735, dtype: int64

In [19]:
a = da['RIAGENDR']

In [20]:
a.unique()

array([1, 2])

# ONE HOT ENCODING

In [24]:
B = ['bird', 'cat', 'dog', 'cat','bird', 'bird']

d = {'categorical': B}

df = pd.DataFrame(d)

In [27]:
df['categorical']

0    bird
1     cat
2     dog
3     cat
4    bird
5    bird
Name: categorical, dtype: object

In [31]:
dfDummies =  pd.get_dummies(df['categorical'], prefix = 'category')
# One-Hot vector Representation of the data

In [30]:
dfDummies

   category_bird  category_cat  category_dog
0              1             0             0
1              0             1             0
2              0             0             1
3              0             1             0
4              1             0             0
5              1             0             0

In [33]:
dfDummies.values

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0]], dtype=uint8)